<div class="modal fade groot-modal" id="twitter_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog groot-modal-dialog" role="document">
    <div class="modal-content groot-modal-content">
      <div class="modal-header groot-modal-header">
        <button type="button" class="close groot-modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Projet #JeSappelleGroot</h4>
      </div>
      <div class="modal-body">
        <p>Enregistrez-vous avec twitter pour planter votre groot, vous recevrez votre certificat de plantation unique et nominatif et un fichier de géolocalisation par email… Si tous les groots sont plantés aujourd'hui, vous découvrirez une image exclusive de baby groot.. </p>
      </div>
      <div class="modal-footer groot-modal-footer">
        <p>Les groot sont plantés en Amazonie dans un projet de reforestation visant à régénérer les ecosystèmes...</p>
        <%= link_to "Je plante mon groot avec twitter", user_twitter_omniauth_authorize_path, class: "dark-blue-btn fa fa-twitter" %>
      </div>
    </div>
  </div>
</div>

