<div class="modal fade groot-modal" id="twitter_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog groot-modal-dialog" role="document">
    <div class="modal-content groot-modal-content">

      <!-- Texte si tous les groot on été plantés -->
      <% if @turned_counter == 2000 %>
        <div class="modal-header groot-modal-header">
          <button type="button" class="close groot-modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">TOUS LES GROOT ONT ÉTÉ ADOPTÉS !</h4>
          <div class="modal-body">
            <p>2 000 gardiens ont répondu présents pour sauver notre galaxie. Il ne reste malheureusement plus de place dans la forêt Groot mais vous pouvez évidemment continuer à sauver notre galaxie en vous rendant sur</p>
          </div>
          <div class="modal-footer groot-modal-footer">
            <p>Les arbres sont plantés en Amazonie dans un projet de reforestation visant à régénérer les écosystèmes.</p>
          </div>
        </div>

      <% else %>
      <!-- Texte classique si il reste des groot à planter -->
        <div class="modal-header groot-modal-header">
          <button type="button" class="close groot-modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="groot-modal-title">PLANTEZ VOTRE GROOT, SAUVEZ NOTRE GALAXIE</h4>
        </div>
        <div class="groot-modal-body">
          <p>Il est temps de devenir les Gardiens de notre Galaxie ! Pour cela connectez-vous avec Twitter et plantez votre Groot en choisissant un emplacement. Vous recevrez votre certificat de plantation unique et nominatif ainsi qu’un fichier de géolocalisation de l’emplacement de votre Groot. Si tous les arbres sont « adoptés », en plus de tenter de sauver notre galaxie, une image exclusive de Gardiens de la Galaxie Vol.2 sera dévoilée !</p>
        </div>
        <div class="groot-modal-footer">
          <p>Les arbres sont plantés en Amazonie dans un projet de reforestation visant à régénérer les écosystèmes.</p>
          <%= link_to "Je plante mon groot avec twitter", user_twitter_omniauth_authorize_path, class: "fa fa-twitter" %>
        </div>
      <%end %>
    </div>
  </div>
</div>

