<div class="modal fade groot-modal" id="twitter_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog groot-modal-dialog" role="document">
    <div class="modal-content groot-modal-content">

      <!-- Texte si tous les groot on été plantés -->
      <% if @turned_counter == 2000 %>
        <div class="modal-header groot-modal-header">
          <button type="button" class="close groot-modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="groot-modal-title">Tous les Groot one été adoptés !</h4>
          <div class="groot-modal-body">
            <p>2 000 gardiens ont répondu présents pour sauver notre galaxie. Il ne reste malheureusement plus de place dans la forêt Groot mais vous pouvez évidemment continuer à sauver notre galaxie en vous rendant sur ce <u><%= link_to "lien", "http://www.planter-un-arbre.com" %></u>. </p>
          </div>
          <div class="groot-modal-footer">
            <p>2 000 arbres natifs vont être plantés en Amazonie dans un projet à découvrir ici : <u><%= link_to "Alto Huayabamba Project", "https://youtu.be/Ce4FPo3cOUI" %></u>
            </p>
          </div>
        </div>

      <% else %>
      <!-- Texte classique si il reste des groot à planter -->
        <div class="modal-header groot-modal-header">
          <button type="button" class="close groot-modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="groot-modal-title">Plantez votre Groot, Sauvez notre Galaxie</h4>
        </div>
        <div class="groot-modal-body">
          <p>Il est temps de devenir les Gardiens de notre Galaxie ! Pour cela connectez-vous avec Twitter et plantez votre Groot. Vous recevrez votre certificat de plantation unique et nominatif ainsi qu’un fichier de géolocalisation de l’emplacement de votre Groot.</p>
        </div>
        <div class="groot-modal-footer">
          <p>Les arbres sont plantés en Amazonie dans un projet de reforestation visant à régénérer les écosystèmes.</p>
          <%= link_to "  Se connecter avec twitter", user_twitter_omniauth_authorize_path, class: "twitter-plant-btn fa fa-twitter" %>
        </div>
      <%end %>
    </div>
  </div>
</div>

