<div class="modal fade groot-modal" id="twitter_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog groot-modal-dialog" role="document">
    <div class="modal-content groot-modal-content">
      <div class="modal-header groot-modal-header">
        <button type="button" class="close groot-modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Projet #JeSappelleGroot</h4>
      </div>
      <div class="modal-body">
        <p>Quelques lignes pour décrire le projet......... ....</p>
      </div>
      <div class="modal-footer groot-modal-footer">
        <p>Loremp</p>
        <%= link_to "Sign in with twitter", user_twitter_omniauth_authorize_path %>
      </div>
    </div>
  </div>
</div>
