<p>Tu as planté le groot <%= @user.card.tree_id %>ATTENTE DE VOIR SI ON LAISSE LE NUMERO DE GROOT</p>

<p>
Bonjour Gardien de la Galaxie !
<br>
Vous avez participé à l’opération de reforestation en plantant un Groot aujourd’hui, félicitations ! Vous trouverez en pièce-jointe, le fichier de géolocalisation qui permet de visualiser la parcelle de plantation. Il s’ouvre avec google earth. Si ce programme n’est pas installé sur votre ordinateur, vous pouvez le télécharger gratuitement sur ce lien <a href="https://www.google.fr/intl/fr/earth/"></a>
<br>
L’arbre est planté en Amazonie péruvienne, selon le modèle de l'agroforesterie qui consiste à combiner agriculture et plantation d'arbres et qui présente de nombreux bénéfices : érosion, sécheresse et inondation évitées ; retour de biodiversité ; séquestration carbone dans les arbres ; conservation de la forêt. Le projet de l'Alto Huayabamba permet ainsi d'éviter la déforestation, fortement liée à l'agriculture intensive en Amazonie, en proposant un modèle plus pérenne et respectueux de l'écosystème.
<br>
Un grand merci pour votre geste d’aujourd’hui, grâce à vous tous, des milliers de Groot vont pouvoir être plantés. En attendant que la forêt grandissent, retrouvez Bébé Groot et ses acolytes le 26 avril au cinéma dans Les Gardiens de la Galaxie Vol.2 !
<br>
Merci de ne pas répondre à ce message car nous ne pouvons malheureusement pas vous répondre individuellement. Cet e-mail vous a été envoyé car vous avez préalablement consenti à recevoir votre certificat de plantation dans le cadre de l’opération « PLANTEZ UN GROOT »
<br>
The Walt Disney Company Limited Enregistrée en Angleterre
et au Pays de Galles sous le n°00530051. 3 Queen Caroline Street,
Hammersmith, London W6 9PE, Royaume-Uni
<br>
Ces informations étaient correctes au moment de l'envoi de cet e-mail.
© Marvel
</p>
