<div class="mail-style">
  <h1>Bonjour Gardien de la Galaxie !</h1>
  <br>
  <span class="emphasized-mail-text">Vous avez participé à l’opération de reforestation en plantant un Groot aujourd’hui, félicitations!</span>
  <p>
  <br>
  <em>
  Vous trouverez en pièces-jointes, <strong>le certificat de plantation et le fichier de géolocalisation</strong> qui permet de visualiser la parcelle de plantation. Il s’ouvre avec google earth. Si ce programme n’est pas installé sur votre ordinateur, vous pouvez le télécharger gratuitement <a href="https://www.google.fr/earth/index.html">sur ce lien</a> : <a href="https://www.google.fr/intl/fr/earth/">https://www.google.com/earth/.</a></em>
  </p>
  <p>
  <em><strong>L’arbre est planté en Amazonie</strong> péruvienne, selon le modèle de l'agroforesterie qui consiste à combiner agriculture et plantation d'arbres et qui présente de nombreux bénéfices : érosion, sécheresse et inondation évitées ; retour de biodiversité ; séquestration carbone dans les arbres ; conservation de la forêt. Le projet de l'Alto Huayabamba permet ainsi d'éviter la déforestation, fortement liée à l'agriculture intensive en Amazonie, en proposant un modèle plus pérenne et respectueux de l'écosystème.</em>
  </p>
  <br>
  <span class="emphasized-mail-text">Un grand merci pour votre geste d’aujourd’hui, grâce à vous tous, des milliers de Groot vont pouvoir être plantés. En attendant que la forêt grandisse, retrouvez Bébé Groot et ses acolytes le 26 avril au cinéma dans Les Gardiens de la Galaxie Vol.2 !</span>
  <br>
  <br>
-------------

<p class="subtext-italic">
Cet e-mail vous a été envoyé car vous avez préalablement consenti à recevoir votre certificat de plantation dans le cadre de l’opération « PLANTEZ UN GROOT ». Pour toute question concernant ce message, veuillez envoyer un email à purprojet@planter-un-arbre.com. Si vous souhaitez recevoir des offres et informations du groupe Disney, vous pouvez vous inscrire sur cette page : <a href="http://disney.fr">http://disney.fr</a>
<br>Disney respecte et œuvre à protéger la vie privée de ses utilisateurs. Pour toute question relative au traitement et à l’utilisation de vos informations personnelles, consultez nos Règles de respect de la vie privée sur <a href="https://disneyprivacycenter.com/privacy-policy-translations/french/">https://disneyprivacycenter.com/privacy-policy-translations/french/</a>
</p>

      <p class="subtext-signature">
      Cet e-mail vous a été envoyé par The Walt Disney Company Limited Enregistrée en Angleterre
      et au Pays de Galles sous le n°00530051.
      <br>
      3 Queen Caroline Street,
      Hammersmith, London W6 9PE, Royaume-Uni
      <br>
      Tel: +44 (0)20 8222 1000
      <br>

      Ces informations étaient correctes au moment de l'envoi de cet e-mail.
      <br>
      <p>
      <strong>© Disney</strong>
      <br>
      <strong>© Marvel</strong>
      </p>
      </p>
</div>

<style>
.mail-style {
  font-family: 'Droid Sans', sans-serif;
  letter-spacing: 1px;
  /*color: #0e0027;*/
  color: #36345b;
  text-align: justify;
  font-size: 13px;
  margin-right: 10px;
}

.emphasized-mail-text {
  /*color:#F9A23B;*/
  /*font-style:italic;*/
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 1.5px;
}

.subtext-italic {
  font-size: 11px;
  font-style: italic;
}

.subtext-signature {
  font-size: 11px;
}
</style>
