////// global container
  .fixed-container {
     overflow: hidden;
  }

//// grid et cards
  .grid-col-style {
    padding: 0px 0px;
  }

  .grid-cache-bordered {
    border: 1px solid #382c6b;
  }

  .grid-cache-last-turned {
    border: 1px solid #382c6b;
  }

  .grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    }

  .card {
    line-height: 0;
    width: 2.5%;
    img {
      width: 100%;
    }
  }

///// timeline

  .no-padding-side {
    padding-left: 0px;
    padding-right: 0px;
  }
  .timeline-style {
    background-color: rgba(253, 252, 313, 1);
    border-left: 1.9px solid $darkblueone;
    margin-bottom: -99999px;
    padding: 0px 30px 99999px 30px;
  }

  .inner-timeline {
    padding: 5% 3% 5% 3%;
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .twitter-header {
    border-left: 1px solid #00001f;
    background-color: #1da1f2;
    p {
      font-size: 17px;
      margin-bottom: 0px;
      padding: 15px;
    }
  }

//// project
  .project-style {
    margin-bottom: -99999px;
    padding: 0px 0px 99999px 0px;
  }
  .inner {
  }

  #project {
    position: relative;
    top: -45px;
   }

//// project font
  .project-font {
    padding-right: 30px;
    padding-left: 30px;
  }

  .project-font-title {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 2px;
    margin-top: 0px;
    // padding: 15px 15px 0px 15px;
    padding-top: 30px;
            /* Tablette paysage et Desktop MD ET LG*/
        // @media (min-width: $screen-md-min) {
        //    font-size: 45px;
        //  }
  }

  .project-font-text {
    font-weight: lighter;
    font-size: 12px;
    text-align: justify;
    letter-spacing: 0.5px;
    // padding: 0px 15px;
    padding: 0px;
  }

  .project-emphasized-text {
    font-size: 16px;
    text-align: justify;
    // padding: 10px 15px 0px 15px;
    padding: 10px 0px 10px 0px;
    font-style: italic;
    color: rgba(231, 231, 233, 0.5)!important;
  }
  .project-emphasized-text-inside {
    // font-size: 12px;
    // font-style: italic;
    // color: $text-purple;
    // color: #ca8538;
  }




