/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.timeline-background {
  // background-color: $darkbluetwo;
  // box-shadow: $brown1oo4 0px 0px 3px 0px;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  }

.card {
//width a 2.5 pour 4O img par ligne sur une grid de 100%
  line-height: 0;
  width: 2.5%;
  // border: 1px solid yellow;
  img {
    width: 100%;
  }
}

.home-groot-btn-plant {
  display: flex;
  align-items: center;
  height: 60%;
  padding: 10px;
  cursor: pointer;
  background-color: $darkbluethree;
  border-radius: 0.5em;
  box-shadow: $brown1oo4 1px 1px 10px;
  font-family: "Cinzel", "serif";
  color: #f1f7f9;
  text-shadow: 0px 3px black;
  font-size: 1.3rem;
  letter-spacing: 2px
}

.home-groot-btn-plant:hover {
  color: white;
  background-color: #121c4a;
  box-shadow: #f8a227 1px 1px 20px;
  text-decoration: none;
  transform: scale(0.98);
  transition: box-shadow 0.4s ease-in-out;
}

h3 {
font-family: "PT Sans", sans-serif;
font-size: 20px;
color: $brown1oo4;
}

h1 {
  font-size: 30px;
  letter-spacing: 2px;
}

h2 {
  font-size: 20px;
  letter-spacing: 2px;
}

p {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 150%;
  color: #f1f7f9;
  font-weight: lighter;
  letter-spacing: 0.05em;
}


