
.row-cache {
   overflow: hidden;
}

.timeline-style {
  // background-color: $darkbluetwo;
  box-shadow: $brown1oo4 0px 0px 3px 0px inset;
  background-color: #1D1D3A;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}


.inner {
  padding: 0 5% 0 5%;
}
.project-style {
  box-shadow: $brown1oo4 0px 0px 3px 0px inset;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

// FONT POUR PROJET
  .project-font {
    // h3 {
    // font-family: "PT Sans", sans-serif;
    // font-size: 20px;
    // color: $brown1oo4;
    // }
  // color: #ddc7d0; light purple
    color: #f5f8fa; //text blanc idem twitter
    // color: #babdc5; text grid idem twitter
    h1 {
      font-size: 30px;
      letter-spacing: 2px;
    }

    h2 {
      font-size: 20px;
      letter-spacing: 2px;
    }

    p {
      // font-family: "PT Sans", sans-serif;
      font-family: "Helvetica";
      font-size: 12px;
      line-height: 150%;
      // color: #f1f7f9;
      font-weight: lighter;
      letter-spacing: 0.05em;
      text-align: justify;
      /* Tablette paysage et Desktop MD ET LG*/
        // @media (min-width: $screen-md-min) {
        //   color: color;
        // }
    }
  }

.grid-cache-bordered {
  border: 1px solid #36345b;
}

// FORMAT GRID ET CARDS
  .grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    }

  .card {
    line-height: 0;
    width: 2.5%;
    img {
      width: 100%;
    }
  }

// BOUTON GROOT DANS PROJET HOME
  .home-groot-btn-plant {
    display: flex;
    align-items: center;
    height: 60%;
    padding: 10px;
    cursor: pointer;
    background-color: $darkbluethree;
    border-radius: 0.5em;
    box-shadow: $brown1oo4 1px 1px 10px;
    font-family: "Cinzel", "serif";
    color: #f1f7f9;
    text-shadow: 0px 3px black;
    font-size: 1.3rem;
    letter-spacing: 2px
  }
  .home-groot-btn-plant:hover {
    color: white;
    background-color: #121c4a;
    box-shadow: #f8a227 1px 1px 20px;
    text-decoration: none;
    transform: scale(0.98);
    transition: box-shadow 0.4s ease-in-out;
  }

