<div class="modal fade" id="congratulation" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>Félicitation vous avez planté Groot <%= current_user.card.tree_id %>!</p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


