<div class="modal fade groot-modal" id="congratulation" tabindex="-1" role="dialog">
  <div class="modal-dialog groot-modal-dialog" role="document">
    <div class="modal-content groot-modal-content">
      <div class="modal-header groot-modal-header">
        <button type="button" class="close groot-modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="groot-modal-title">FÉLICITATIONS !</h4>
      </div>
      <div class="groot-modal-body">
        <p>Vous devenez membre des Gardiens de notre Galaxie ! Votre certificat personnel et le fichier de géolocalisation de la forêt Groot vous ont été envoyés par email.</p>
      </div>
      <div class="groot-modal-footer">
        <h4>INVITEZ VOS AMIS À DEVENIR EUX AUSSI LES GARDIENS DE NOTRE GALAXIE !</h4>
        <h6>#GardiensdelaGalaxie2 #JournéedelaTerre</h6>
        <div class="modal-share-congrats"><%= social_share_button_tag(meta_title, 'data-twitter-title' => meta_description, image: meta_image, desc: meta_description) %></div>
      </div>
    </div>
  </div>
</div>