<div class="certificate">
  <%= image_tag "certificate.jpg" %>
  <div id="boxname">
  <h2>@<%= @user.nickname.nil? ? "Gardien" : @user.nickname.upcase %></h2>
  </div>
  <h2 id="tree_id"><%= @user.card.tree_id %></h2>
</div>

<!-- Style inline for pdf -->
<style>
  body {
    background-color: white;
    margin-top: 0px;
    color: #499bcd;
  }
  h2 {
    color: #5984ac;
    font-family: Droid Sans, sans-serif;
    font-size: 31px;
    letter-spacing: 1.5px !important;
    text-align: center;
  }
  .certificate {
    height: 1031px;
    width: 1559px;
    position: relative;
  }
  #boxname {
    position: absolute;
    top: 576px;
    left: 97px;
    width: 335px;
  }
  #tree_id {
    font-family: Droid Sans, sans-serif;
    color: #87a3b7;
    position: absolute;
    top: 115px;
    left: 397px;
    font-size: 20px;
    letter-spacing: 0.5px;
  }
</style>
