<div class="certificate">
  <%= image_tag "certificate.jpg" %>
  <h2 id="name"><%= @user.name.nil? ? @user.nickname : @user.name %></h2>
  <h2 id="tree_id"><%= @user.card.tree_id %></h2>
</div>



<!-- Style inline for pdf -->
<style>
  body {
    background-color: white;
    margin-top: 0px;
  }
  h2 {
    color: black;

  }
  .certificate {
    height: 100%;
    width: 100%;
    background-size: cover
    position: relative;
    position: fixed;
  }
  #name {
    position: absolute;
    top: 75%;
    left: 18%;
  }
  #tree_id {
    position: absolute;
    top: 21.3%;
    left: 40%;
    font-size: 1em;
  }
</style>