<div class="certificate">
  <%= image_tag "certificate.jpg" %>
  <h2 id="name"><%= @user.name.nil? ? @user.nickname : @user.name %></h2>
  <h2 id="tree_id"><%= @user.card.tree_id %></h2>
</div>

<!-- Style inline for pdf -->
<style>
  body {
    background-color: white;
    margin-top: 0px;
  }
  h2 {
    color: black;
  }
  .certificate {
    height: 1240px;
    width: 1754px;
    position: relative;
  }
  #name {
    position: absolute;
    top: 737px;
    left: 240px;
  }
  #tree_id {
    position: absolute;
    top: 207px;
    left: 535px;
    font-size: 18px;
  }
</style>