<div class="certificate">
  <%= image_tag "certificate.jpg" %>
  <h2 id="name"><%= @user.name.nil? ? @user.nickname : @user.name %></h2>
  <h2 id="tree_id"><%= @user.card.tree_id %></h2>
</div>

<!-- Style inline for pdf -->
<style>
  body {
    background-color: white;
    margin-top: 0px;
  }
  h2 {
    color: black;
  }
  .certificate {
    height: 1024px;
    width: 1558px;
    position: relative;
  }
  #name {
    position: absolute;
    top: 635px;
    left: 133px;
  }
  #tree_id {
    position: absolute;
    top: 111.4px;
    left: 398px;
    font-size: 18px;
  }
</style>