<div class="certificate">
  <%= image_tag "certificate.jpg" %>
  <h2 id="name"><%= @user.nickname.nil? ? "Gardien" : @user.nickname %></h2>
  <h2 id="tree_id"><%= @user.card.tree_id %></h2>
</div>

<!-- Style inline for pdf -->
<style>
  body {
    background-color: white;
    margin-top: 0px;
    color: #499bcd;
  }
  h2 {
    color: #499bcd;
    font-family: Droid Sans, sans-serif;
    font-size: 31px;
    /*letter-spacing: 2px;*/
  }
  .certificate {
    height: 1024px;
    width: 1558px;
    position: relative;
  }
  #name {
    position: absolute;
    top: 575px;
    left: 150px;
  }
  #tree_id {
    color: #499bcd;
    position: absolute;
    top: 115px;
    left: 400px;
    font-size: 18px;
  }
</style>
