<!-- <div class="return-home">
<p><u><%#= link_to "Home", root_path %></u> > Conditions d'utilisation et Politique de confidentialité</p>
</div> -->

<div class="container policy">
<div class="return-home"><u><%= link_to "Home", root_path %></u> > Conditions d'utilisation et Politique de confidentialité</div>
  <h1>CONDITIONS D’UTILISATION & POLITIQUE DE CONFIDENTIALITE</h1>
    <h2>CONDITIONS D’UTILISATION</h2>
        <p>
        Merci de votre visite sur le Site plantez-un-groot.fr. Ce Site vous propose de soutenir la plantation d’arbres en Amazonie, à l’occasion de la Journée de la Terre 2017 et de la sortie du film Les Gardiens de La Galaxie Vol 2 de Marvel Studios. Les arbres sont plantés par PUR PROJET, une entreprise qui développe et suit des projets de reforestation et de conservation forestière. Le Site est édité par la société 4U Abel SAS. L'utilisation du Site implique votre acceptation des présentes Conditions d’Utilisation. Nous vous invitons à les lire attentivement. Elles ont pour objet l'encadrement juridique des modalités de mise à disposition des services du Site plantez-un-groot.fr et leur utilisation par l'Utilisateur.
        </p>
        <p>
        Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur souhaitant accéder au Site. Elles constituent le contrat entre le Site et l'Utilisateur. L’accès au Site par l’Utilisateur signifie son acceptation des présentes conditions générales d’utilisation. En cas de non-acceptation des conditions générales d'utilisation stipulées dans le présent contrat, l'Utilisateur se doit de renoncer à l'accès des services proposés par le Site.
        Le Site plantez-un-groot.fr se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes conditions générales d'utilisation.
        </p>
      <h3>Accès aux services</h3>
        <p>
        Le Site permet à l'Utilisateur de parrainer gratuitement la plantation d’un arbre en Amazonie, dans la limite d’un arbre par utilisateur et de 2000 arbres au total. La totalité des arbres est financé par Marvel Studios dans le cadre de la sortie des Gardiens de la Galaxie Vol.2 au cinéma.
        L’accès au parrainage d’un arbre implique que l’Utilisateur s’identifie sur le Site via son compte twitter. Un email sera alors envoyé à l’adresse email liée au compte twitter de l’Utilisateur, avec le certificat de plantation unique d’un arbre - dont le nom d’attribution sera le pseudo twitter de l’Utilisateur- , et un fichier de géolocalisation de la parcelle de plantation à ouvrir avec le programme Google Earth.
        </p>
        <p>
        Le Site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais supportés par l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge.
        Le Site met en œuvre tous les moyens mis à sa disposition pour assurer un accès de qualité à ses services. L'obligation étant de moyens, le Site ne s'engage pas à atteindre ce résultat.
        Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du réseau ou du serveur n'engage pas la responsabilité de plantez-un-groot.fr.
        </p>
      <p>
      L'accès aux services du Site peut à tout moment faire l'objet d'une interruption, d'une suspension, d'une modification sans préavis pour une maintenance ou pour tout autre cas. L'Utilisateur s'oblige à ne réclamer aucune indemnisation suite à l'interruption, à la suspension ou à la modification du présent contrat.
      </p>

    <h3>Utilisation et contenu</h3>
      <p>
      Le Site n’est destiné qu’à un usage personnel. Vous n’êtes pas autorisé à utiliser le Site à des fins commerciales ou de toute manière qui soit illégale ou qui porterait préjudice au Site ou à toute autre personne ou entité, comme déterminé à notre seule discrétion.
      </p>
      <p>
      L’ensemble des informations, documents, fonctions, marques, logos, signes et tous autres contenus et applications présents sur le Site font l'objet d'une protection par le Code de la propriété intellectuelle et plus particulièrement par le droit d'auteur.
      L'Utilisateur sollicite l'autorisation préalable et écrite du Site pour toute reproduction, publication, copie des différents contenus.
      </p>
      <p>
      Les pages web vers lesquelles pointent les liens hypertextes présent sur le Site n’engagent en rien la responsabilité de plantez-un-groot.fr qui n’a pas le contrôle de ces pages et de leur contenu. L'Utilisateur s'interdit donc à engager la responsabilité du Site concernant le contenu et les ressources relatives à ces liens hypertextes sortants.
      </p>

    <h3>Comptes et Données personnelles</h3>
      <p>
      Les informations demandées à l’inscription au Site, par le biais du twitter connect, sont nécessaires et obligatoires pour la création du compte de l'Utilisateur. En particulier, l'adresse électronique qui sera utilisée pour envoyer le certificat de plantation et le fichier de géolocalisation de la parcelle de plantation.
      </p>
      <p>
      L’Utilisateur accepte de fournir et de maintenir ses informations personnelles vraies, exactes, à jour et complètes. L’Utilisateur ne prétend pas être toute autre personne ou entité ou ne représente pas son identité ou une affiliation avec toute personne ou entité de manière inexacte, y compris en utilisant le nom d’utilisateur, le mot de passe ou toute autre information relative au compte de quelqu’un d’autre.
      </p>
      <p>
      L’Utilisateur accepte d’aviser le Site dans les plus brefs délais à l’adresse email indiquée sur le footer du Site de toute utilisation non-autorisée des informations relatives à son compte ou de toute autre violation de sécurité concernant ou impliquant ce Site dont il prendrait connaissance. En outre, l’Utilisateur accepte de se déconnecter à la fin de chaque session.
      </p>
      <p>
      Le Site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.
      En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit via l’adresse email présente dans le footer du Site.
      </p>

    <h3>Responsabilité et force majeure</h3>
      <p>
      L'Utilisateur s'assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite.
      L'Utilisateur assume les risques liés à l'utilisation de son identifiant et mot de passe. Le Site décline toute responsabilité.
      Tout usage du service par l'Utilisateur ayant directement ou indirectement pour conséquence des dommages doit faire l'objet d'une indemnisation au profit du Site.
      Le Site s'engage à mettre en œuvre tous les moyens nécessaires afin de garantir au mieux la sécurité et la confidentialité des données.
      La responsabilité du Site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.
      </p>
      <p>
      Le Site se réserve à tout moment le droit de modifier les clauses stipulées dans le présent contrat.
      La législation française s'applique au présent contrat.
      </p>

  <h2>POLITIQUE DE CONFIDENTIALITE</h2>
      <p>
      Les données personnelles sont collectées par l’éditeur du site plantez-un-groot.
      Les présentes règles de confidentialité visent à vous indiquer quelles informations sont collectées, pour quelle raison, et comment elles sont utilisées.
      </p>
    <h3>Données collectées & Finalité</h3>
      <p>
      Pour parrainer un arbre sur le Site, l’Utilisateur s’authentifie avec le service tiers Twitter Connect. Les informations de contact de l’Utilisateur, liées à son compte Twitter, sont alors collectées.
      Seules les données de contacts sont collectées, et uniquement lors de l’authentifaction avec Twitter.
      Le Site ne collecte aucune donnée sensible, à savoir aucune donnée relative aux origines raciales ou ethniques, aux opinions politiques, philosophiques ou religieuses ou à l’appartenance syndicale, ou à la santé ou la vie sexuelle de l’Utilisateur.
      </p>
      <p>
      Les données collectées sont utilisées pour associer l’Utilisateur à la plantation d’un arbre, et pour lui envoyer par email son certificat de plantation personnalisé et le fichier de géolocalisation de la parcelle de plantation.
      Les données collectées ne seront pas exploitées d’autre façon, ni transmises à des sociétés tierces.
      </p>
    <h3>Questions, Droit de suppression</h3>
      <p>
      Pour toute questions ou pour exercer votre droit de suppressions des données personnelles, vous pouvez nous contacter à l’adresse email indiquée dans le footer du site.
      </p><br><br>
</div>
<!-- footer -->
<div class="footer">
  <div class="footer-left footer-logo"><%= image_tag "LogoPP.png" %></div>
  <div class="footer-right">
    <div class= "footer-item"><%= link_to "Termes et Conditions", privacy_path %></div>
    <div class="footer-item">
    <%=mail_to "carole@purprojet.com", "Contact",
           subject: "A propos de Groot"%>
    </div>
    </div>
</div>
