<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Cinzel:400|Droid+Sans:400,700|PT+Sans:400,400i,700,700i" rel="stylesheet">
  <title>Preparez vous Gardiens</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
<body>
  <<div class="container">
<h1>Gardiens, preparez-vous a sauver notre galaxie pour la Journee de la Terre <br>2017</h1>
<h2>#GardiensdelaGalaxie2 #JourneedelaTerre</h2>
</div>
</body>


<style>
body {
  background-color : #0f0f2c;
  color: #e7e7e9;
  font-family: Cinzel, serif;
  text-align: center;
  /*padding: 50px 50px 50px 50px;*/
  /*padding: 20% 20% 20% 20%;*/
}

.container {
  width: 50%;
}
</style>
