<div class="">
  <div class="row">
   <div class="col-xs-12">
      <h1>Gardiens, preparez-vous a sauver notre galaxie pour la Journee de la Terre <br>2017</h1>
      <div class="marged">
        <h4>#GardiensdelaGalaxie2</h4>  
        <h4>#JourneedelaTerre</h4>     
      </div>
   </div>  
  </div>
</div>


<style>
body {
  width: 100%
  background-color : #0f0f2c;
  color: #e7e7e9;
  font-family: Cinzel, serif;
  text-align: center;
  padding: 20% 20% 20% 20%;
}
.marged {
  margin-top: 2em;
}
</style>