////// NAVBAR CONTAINER
  .navbar-groot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;
    font-family: "Cinzel", "serif";
    // background-color: rgb(22, 18, 62);
    background-color: $navbar-color;
    // background-color: #2e184f;
    // padding: 0px 20px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
  }

////// NAVBAR LEFT
  .navbar-left {
    order: 1;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
    // text-align: center;
  }

//////NAVBAR CENTER
  .navbar-center {
    order: 2;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

// NAVBAR CENTER BUTTON
  .navbar-btn-plant {
    flex: 0 1 auto;
    cursor: pointer;
    padding: 6px 10px;
    margin: auto;
    // background-color: #372354;
    border-radius: 0.5em;
    box-shadow: #F9A23B 1px 1px 10px;
    color: $text-purple;
    text-shadow: 0px 3px black;
    font-size: 14px;
    letter-spacing: 2px;
  }

  .navbar-btn-plant:hover {
    color: $text-purple-lighter;
    // background-color: #372354;
    background-color: #1c0b35;
    // box-shadow: #FAB360 1px 1px 20px;
    box-shadow: #F9A23B 1px 1px 20px;
    text-decoration: none;
    transform: scale(0.98);
    transition: box-shadow 0.4s ease-in-out;
  }

  .navbar-btn-plant:focus{
    color: $text-purple-lighter;
    text-decoration: none;
  }

////// NAVBAR RIGHT
  .navbar-right {
    order: 3;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 0px;
  }

// NAVBAR RIGHT ITEMS
  .navbar-item-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 0px;
  }

  .navbar-item-box:hover {
    background-color: #1c0b35;
    height: 55px;
    color: $text-purple-lighter;
    text-decoration: none;
    transform: scale(0.98);
    transition: color 0.4s ease-in-out;
  }

  .navbar-item-box:focus {
    color: $text-purple-lighter;
    text-decoration: none;
  }

  .navbar-small-text {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 12px;
    color: $text-purple;
    margin: 0px;
    padding: 0px 5px;
  }

  .tw:hover{
    background-color: $twitter-color;
    padding: 15px 11.5px;
  }

  .fb:hover {
    background-color: $fb-color;
    padding: 15px;
  }


// NAVBAR ITEMS
  .navbar-item {
    flex: 0 1 auto;
    cursor: pointer;
    padding: 0 10px;
    color: $text-purple;
    text-shadow: 2px 0px black;
  }

  .navbar-item:hover, :focus {
    color: $text-purple-lighter;
    text-decoration: none;
    transform: scale(0.98);
    transition: color 0.4s ease-in-out;
  }







// OLD CLASSES



.navbar-text-small {
  font-size: 8px;
  letter-spacing: 1px;
}

.navbar-round-btn {
  color: #f1f7f9;
  display: flex;
  align-items: center;
  justify-content: center;

}

.nimporte {
  color: red;
}
/* Navbar dropdown menu */
.navbar-wagon-dropdown-menu {
  background-color: $navbar-color;
  margin-top: 5px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: $text-purple;
}
.navbar-wagon-dropdown-menu, p, ul> li > a {
  text-shadow: none;
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $text-purple !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 25px 25px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: $navbar-color;
  transform: rotate(45deg);
  border-left: 1px solid $text-purple;
  border-top: 1px solid $text-purple;
 }
