/* Main class */
.navbar-groot {
  // background-color: #00001e;
  background-color: $darkblueone;
  padding: 0px 20px;
  // border-bottom: 1px solid #beab6f;
  transition: all 0.3s ease;
  display: flex;
  // height: 60px;
  height: 4em;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

.navbar-text-small {
  font-size: 8px;
  letter-spacing: 1px;
}

.navbar-round-btn {
  // background-color: $darkbluetwo;
  // width: 34px;
  // height: 34px;
  // border-radius: 17px;
  color: #f1f7f9;
  display: flex;
  align-items: center;
  justify-content: center;
  // box-shadow: #294760 -1px 0px 1px 0px;
  // box on dr strange : box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9);

}

/* Navbar right section (with form, links, button) */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-groot-btn-plant {
  display: flex;
  align-items: center;
  height: 60%;
  padding: 10px;
  cursor: pointer;
  background-color: $darkbluethree;
  border-radius: 0.5em;
  box-shadow: $brown1oo4 1px 1px 10px;
  color: #f1f7f9;
  text-shadow: 0px 3px black;
  font-size: 1.3rem;
  letter-spacing: 2px
}

.navbar-groot-btn-plant:hover, .navbar-round-btn:hover{
  color: white;
  background-color: #121c4a;
  box-shadow: #f8a227 1px 1px 20px;
  text-decoration: none;
  transform: scale(0.98);
  transition: box-shadow 0.4s ease-in-out;
}
// quand on appuie
.navbar-groot-btn-plant:active{
  color: white;
  text-decoration: none;
  box-shadow: #294760 0px 1px 2px 1px;
}


/* Navbar dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
