////// NAVBAR CONTAINER
  .navbar-groot {
    background-color: $navbar-color;
    color: $text-white;
    border-bottom: 1px solid rgba(249, 162, 59, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    font-family: "Cinzel", "serif";
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
  }

////// NAVBAR LEFT
  .navbar-left {
    order: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

//////NAVBAR CENTER
  .navbar-center {
    display: flex;
    order: 2;
    height: 65px;
  }

// NAVBAR CENTER BUTTON
  .navbar-btn-plant {
    flex: 0 1 auto;
    cursor: pointer;
    padding: 6px 10px;
    margin: auto;
    // background-color: #372354;
    background-color: $violet-button;
    border-radius: 0.5em;
    box-shadow: $yellow-orange 1px 1px 10px;
    // color: $text-purple;
    color: $text-white;
    text-shadow: 0px 3px black;
    font-size: 12px;
    letter-spacing: 2px;
      @media (min-width: $screen-md-min) {
        font-size: 13px;
      }
      @media (min-width: $screen-lg-min) {
      font-size: 13px;
      }
  }

  .navbar-btn-plant:hover {
    color: $text-purple-lighter;
    background-color: #1c0b35;
    box-shadow: $yellow-orange 1px 1px 20px;
    text-decoration: none;
    transform: scale(0.98);
    transition: box-shadow 0.4s ease-in-out;
  }

  .navbar-btn-plant:focus{
    color: $text-purple-lighter;
    text-decoration: none;
  }

////// NAVBAR RIGHT
  .navbar-right {
    order: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 0px;
  }

// NAVBAR RIGHT ITEMS
  .navbar-item-box-right {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    // position: relative; decentre le bouton
    top: 0px;
    right: 10px;
  }

  .navbar-item-box-right:hover {
    background-color: #1c0b35;
    height: 65px;
    // color: $text-purple-lighter;
    color: $text-white;
    text-decoration: none;
    transform: scale(0.98);
    transition: color 0.4s ease-in-out;
  }

  .navbar-item-box-right:focus {
    color: $text-purple-lighter;
    text-decoration: none;
  }

// NAVBAR TEXT FONT
  .navbar-small-text {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 12px;
    // color: $text-purple;
    color: $text-white;
    margin: 0px;
    padding: 0px 5px;
  }

// SOCIAL
  .tw:hover{
    background-color: $twitter-color;
    padding: 15px 11.5px;
  }

  .fb:hover {
    background-color: $fb-color;
    padding: 15px;
  }

// NAVBAR ITEMS
  .navbar-item {
    flex: 0 1 auto;
    cursor: pointer;
    padding: 0 10px;
    // color: $text-purple;
    color: $text-white;
    text-shadow: 2px 0px black;
   }
  .navbar-item-mobile {
    // flex: 0 1 auto;
    display: flex;
    position: relative;
    left: 10px;
    cursor: pointer;
    // color: $text-purple;
    color: $text-white;
    text-shadow: 2px 0px black;
   }

  .navbar-item-left {
    // color: #cbc3d8;
    color: $text-white;
    text-shadow: 2px 0px black;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    // VOIR SI LAISSE ABSOLUTE OU METTRE RELATIVE
    top: 0px;
    left: 10px;
  }

  .navbar-item:hover, :focus {
    color: $text-purple-lighter;
    text-decoration: none;
    transform: scale(0.98);
    transition: color 0.4s ease-in-out;
  }

//* NAVBAR DROPDOWN MENU */
  .navbar-groot-dropdown-menu {
    background-color: $navbar-color;
    color: $text-white;
    margin-top: 5px;
    box-shadow: 1px 1px 4px #E6E6E6;
    // border-color: $text-purple;
    border-color: $text-white;
    left: 0;
    right: auto;
  }
  .navbar-groot-dropdown-menu, p, ul> li > a {
    text-shadow: none;
    transition: color 0.3s ease;
    // attention dessous fait sauter le style de la home
    // font-weight: lighter !important;
    // color: $text-purple !important;
    // font-size: 15px !important;
    // line-height: 22px !important;
    padding: 25px 25px;
  }
  .navbar-groot-dropdown-menu li > a:hover {
    background: transparent !important;
    color: $text-purple-lighter !important;
  }
  .navbar-groot-dropdown-menu:before {
    content: ' ';
    height: 10px;
    width: 10px;
    position: absolute;
    left: 10px;
    top: -6px;
    background-color: $navbar-color;
    transform: rotate(45deg);
    border-left: 1px solid $text-purple;
    border-top: 1px solid $text-purple;
   }
