//page entiere
.groot-modal {
  // background-color: $darkblueone;
  // opacity: 0.75 !important;
}

.groot-modal-close {
  color: $text-white;
  opacity: 1;
  text-shadow: none;
}

.groot-modal-close:hover {
  color: $text-white;
  opacity: 1;
  text-shadow: none;
}

.groot-modal-close:active {
  color: $text-white;
  opacity: 1;
  text-shadow: none;
}
// container de la modal
.groot-modal-dialog {
  width: 95%;
  margin: 75px auto;
      @media (min-width: $screen-sm-min) {
        width: 55%;
      }
      @media (min-width: $screen-md-min) {
        width: 50%;
      }
      @media (min-width: $screen-lg-min) {
      width: 50%;
      }
}

.groot-modal-content {
  // background-color: red;
  background-color: $navbar-color;
  opacity: 1;
  // height: 450px; a la place margin bottom au footer
  border: none;
}

.groot-modal-header {
  border: none;
}

.groot-modal-title {
  color: $text-white;
  padding-top: 15px;
  font-size: 13px;
  letter-spacing: 2px;
  text-align: center;
  line-height: 18px;
    @media (min-width: $screen-lg-min) {
      font-size: 20px;
    }
}

.groot-modal-body {
  p {
    padding: 0px 25px;
    font-size: 11px;
    letter-spacing: 0.5px;
    text-align: justify;
    line-height: 16px;
  }
}


.groot-modal-footer {
  padding: 0px 25px 40px 25px;;
  border: none;
  font-style: italic;
  text-align: right;
    p {
    font-size: 9px;
    padding: 15px 0px 10px 22px;
    }
    a {
      color: $twitter-color;
      text-decoration: underline;
      cursor: pointer;
    }
}

// .groot-modal-a

  // .modal-btn-plant {
  //     color: white;
  // padding: 10px 15px;
  // border-radius: 0.5em;
  // font-weight: bold;
  // background: $violet-button;
  // box-shadow: $grid-orange 1px 1px 10px;
  // transition: background 0.3s ease;
  // }
