// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

body {
  margin-top: 46px;
  background-color: #00001e;
  color: #f1f7f9;
}


// style="box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px; border-color: rgb(241, 247, 249);"
